/*Titulo "Encontre seu melhor amigo!"*/
.tituloPrincipal{
	
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.tituloPrincipal #melhorAmigo{
	margin: 40px;
	font-family: "Lobster Two", "lobster";
}
.tituloPrincipal #melhorAmigo span{
	color: hsl(0, 100%, 61%);
	font-family: "lobster";
}
.tituloPrincipal #pata1{
	width: 40px;
	transform: rotate(30deg);
	transition: 0.5s;
}
.tituloPrincipal #pata1:hover{
	transform: rotate(-30deg);
	transition: 0.5s;
}
.tituloPrincipal #pata2{
	width: 40px;
	transform: rotate(-30deg);
	transition: 0.5s;
}
.tituloPrincipal #pata2:hover{
	transform: rotate(30deg);
	transition: 0.5s;
}
/*Fim do titulo "Encontre seu melhor amigo!"*/