html{
	height: 2000px;
}
body{
	background-color: hsl(0, 0%, 100%);
}

/*Iago ->  Modificações de todo o site*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*INICIO DO HEADER*/

/*Iago -> Estrutura inteira do cabeçalho*/
.header{
	position: sticky;
	top: 0px;
	z-index: 2;
    background: hsl(0, 49%, 87%);
    box-shadow: 0px 3px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
	
}

/*Iago -> Modificações da lista que está em <nav>*/
.menu{
    display: flex;
	list-style: none;
}

/*Iago -> Modifica os itens da lista que está em <nav>*/
.menu li{
    font-size: 1.2rem;
    margin-left: 10px;
}

/*Iago -> Muda todos os botões com id="botãoMenu"*/
.menu li #botãoMenu{
    display: block;
    padding: 10px;
    background: hsl(2, 63%, 66%);
    border-bottom: 5px solid hsl(2, 63%, 33%);
    border-radius: 10px;
}

/*Iago -> Muda o botão com id="botãoAdoção"*/
.menu li #botãoAdoção{
    display: block;
    padding: 10px;
    background: orange;
    border-bottom: 5px solid hsl(39, 100%, 33%);
    border-radius: 10px;
	color: hsla(249, 100%, 50%, 0.678);
	
}

	

/*Iago -> Retira a decoração de link (O sublinhado embaixo)*/
a{
    text-decoration: none;
}
/*FINAL DO HEADER*/

/*INICIO DO SLIDER*/
.slider{
    margin: auto;
	width: 1200px;
	height: 650px;
	overflow: hidden;
	border-radius: 40px;
}
.slides{
	width: 400%;
	height: 400px;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	width: 25%;
	position: relative;
	transition: 1.5s;
}
.slide img{
	width: 1200px;
	height: 650px;
}

.navegacao-manual{
	position: absolute;
	width: 1200px;
	margin-top: 200px;
	display: flex;
	justify-content: center;
}

.botao-manual{
	border: 3px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.botao-manual:not(:last-child){
	margin-right: 40px;
}
.botao-manual:hover{
	background-color: gray;
}
#radio1:checked ~ .first{
	margin-left: 0;
	
}
#radio2:checked ~ .first{
	margin-left: -25%;
	
}
#radio3:checked ~ .first{
	margin-left: -50%;
	
}
#radio4:checked ~ .first{
	margin-left: -75%;
	
}
.navigation-auto div{
	border: 3px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.navigation-auto{
	position: absolute;
	width: 1200px;
	margin-top: 600px;
	display: flex;
	justify-content: center;
}
.navigation-auto div:not(:last-child){
	margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: white;
	
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: white;
}

/*FIM DO SLIDER*/

/*INICIO DO TEXTO E TITULO CENTRAL DO SITE"*/

.tituloPrincipal{
	
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.tituloPrincipal #melhorAmigo{
	margin: 40px;
	font-family: "Lobster Two", "lobster";
}
.tituloPrincipal #melhorAmigo span{
	color: hsl(0, 100%, 61%);
	font-family: "lobster";
}
.tituloPrincipal #pata1{
	width: 40px;
	transform: rotate(30deg);
	transition: 0.5s;
}
.tituloPrincipal #pata1:hover{
	transform: rotate(-30deg);
	transition: 0.5s;
}
.tituloPrincipal #pata2{
	width: 40px;
	transform: rotate(-30deg);
	transition: 0.5s;
}
.tituloPrincipal #pata2:hover{
	transform: rotate(30deg);
	transition: 0.5s;
}
.textoExplicativo{
	display: flex;
	flex-wrap: wrap;
	width: 1120px;
	align-items: center;
	justify-content: center;
	margin: auto;
	border: 15px dotted hsl(347, 65%, 65%);
	border-radius: 70px;
}

.curiosidades{	
    display: flexbox;
    justify-content: center;
	height: 258px;
	width: 200px;
    margin: 40px;
	
}
.tituloCuriosidades{
	height: 100px;
	width: 200px;
	text-align: center;
	justify-content: center;
	display: flex;
	margin-bottom: 8px;
}
.textoCuriosidades{
	display: flex;
	height: 150px;
	width: 200px;
	text-align: center;
	justify-content: center;
	
}
.curiosidades #listaDoacoes{
	text-align: start;
}
/*FINAL DO TEXTO E TITULO CENTRAL DO SITE*/

/*INICIO DAS CARTAS*/
.card-area{
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.card-group{
	border: 3px solid;
}
.card-group,
.card{
	aspect-ratio: 5/7;
}
.card-group,
.big-card{
	width: 235px;
	
}
.card{
	border-radius: 20px;
	position: absolute;
	background-color: rgba(250, 131, 131, 0.226);
}
.big-card{
	width: 235px;
	height: 280px;
}
.little-card{
	width: 116px;
	height: 140px;
}
.texto-cartas{
	font-size: 25px;
	border: 3px solid;
}

.big-card:nth-child(1) {
	background-image: url(./src/assets/imagens/cao_amelia.png);
	transform: translateX(-10%) rotate(-5deg);
}


.big-card:nth-child(2) {
	background-image: url(./src/assets/imagens/gato_torto.png);
	transform: translateX(-5%) rotate(-2deg);
}
  
.big-card:nth-child(3) {
	background-image: url(./src/assets/imagens/cao_coragem.png);
	transform: translateX(6%) rotate(-3deg);
}
  
.big-card:nth-child(4) {
	background-image: url(./src/assets/imagens/cao_decorado.png);
	transform: translate(10%, 3%) rotate(5deg);
}

/* FINAL DAS CARTAS */

/*INICIO DO FOOTER*/
.fundoFooter{
	background-color: hsl(0, 49%, 87%);
	
}